# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Django
db.sqlite3
/staticfiles/
/media/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/frontend/build

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/

# Other
*.log
*.swp
*.swo
.DS_Store